streamlit
openai
pandas
groq
matplotlib
langchain>=0.1.0
langchain.tools
langchain-community
langchain-experimental>=0.0.40
langchain-groq
langsmith>=0.1.0
tabulate
scikit-learn
python-multipart
python-dotenv
